// Heading Color
$heading-color: #212121;

// Text Color
$text-color: #bab2b5;

// Default Background
$bg-default: #ac3b61;

// Gray Background
$bg-gray: #f8f8f8;

// Primary Color
$pri-color: #de977a;

// Secondary Color
$sec-color: #edc7b7;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #000000;

// Border Color
$border-color: #eee2dc;

// Footer Color
$foo-color: #123c69;